<h2>DESCRIPTION</h2>

<h2>NOTES</h2>

<h2>EXAMPLES</h2>

<h2>SEE ALSO</h2>

<em>
<a href="d.rast.html">d.rast</a>
</em>

<h2>REFERENCES</h2>

<h2>AUTHOR</h2>

<p>Nikos Alexandris</p>

<p><i>Last changed: $Date: 2016-05-20 23:01:30 +0200 (Fri, 20 May 2016) $</i></p>
